@font-face {
    font-family: 'Balsamiq Sans';
    font-weight: normal;
    font-style: normal;
    src: url('BalsamiqSansRegular.ttf') format('truetype');
}

@font-face {
    font-family: 'Balsamiq Sans';
    font-weight: bold;
    font-style: normal;
     src: url('BalsamiqSansBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Balsamiq Sans';
    font-weight: normal;
    font-style: italic;
     src: url('BalsamiqSansItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Balsamiq Sans';
    font-weight: bold;
    font-style: italic;
     src: url('BalsamiqSansBoldItalic.ttf') format('truetype');
}



.text {
    -fx-font-family: "Balsamiq Sans";
}

#goBack {
    -fx-font-size: 18px;
}

#IdPagina{
    -fx-font-family: "Balsamiq Sans";
    -fx-font-size: 36px;
    
}
