@font-face {
    font-family: 'Balsamiq Sans';
    font-weight: normal;
    font-style: normal;
    src: url('BalsamiqSansRegular.ttf') format('truetype');
}

@font-face {
    font-family: 'Balsamiq Sans';
    font-weight: bold;
    font-style: normal;
     src: url('BalsamiqSansBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Balsamiq Sans';
    font-weight: normal;
    font-style: italic;
     src: url('BalsamiqSansItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Balsamiq Sans';
    font-weight: bold;
    font-style: italic;
     src: url('BalsamiqSansBoldItalic.ttf') format('truetype');
    
}
